table {
    inline-size: 100%;

    tr {
        block-size: 2.8125rem;
    }

    td {
        &:first-child {
            inline-size: 10rem;
            font-weight: bold;
        }
        &:nth-child(2), &:nth-child(3) {
          inline-size: 10rem;
        }

        &:last-child {
            inline-size: 3rem;
            text-align: center;
        }
    }
}

.viewport {
    block-size: 15.625rem;
}

.font-italic {
  font-style: italic !important;
  opacity: 0.5;
}

.field-table {
  input {
    padding: .75rem;
    margin: 0 !important;
    border: none;
  }
}

::ng-deep .t-sort {
  cursor: inherit !important;
  tui-icon.t-icon {
    display: none !important;
  }
}


