.form {
  padding: 1rem;
}
.valor-total {
  padding: 1rem 0;
}

.valor {
  font-size: 3rem !important;
  margin: 0.5rem 0 !important;
}

form {
  margin-bottom: 2rem;
}

.button-box {
  display: flex;
  justify-content: space-between;
}


